@import "../../styles/variables.scss";

.Footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 4rem;
  background-color: #000000;

  p {
    color: #ffffff;
    font-size: 1rem;

    a{
      color: $primary;
      text-decoration: underline;
    }
  }
}
