@import "../../styles/variables.scss";

.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  min-width: 320px;
  max-width: 800px;
  width: 100vw;
  background-color: #000000;
  margin-top: auto;

  p {
    color: #ffffff;
    font-size: 1rem;

    a {
      color: $primary;
      text-decoration: underline;
    }
  }
}
