@import "../../styles/variables.scss";

.Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    max-width: 800px;
    width: 100vw;
    height: 100vh;

    .LoginBox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        height: 100px;
        background-image: linear-gradient(to bottom right, $primary, #fd442c);
        padding: 3rem;
        border-radius: 5px;

        .spotifyButton {
            display: flex;
            align-items: center;
            background-color: $spotify;
            padding: 1rem;
            color: #ffffff;
            border-radius: 50px;
            border: 1px solid $secundary;
            text-align: center;
            margin-bottom: 2rem;
            &:hover {
              background-color: $spotifyHover;
              border: 1px solid #ffffff;
            }
            .icon {
                margin-right: 1rem;
            }
        }

        p {
            color: #ffffff;
        }
    }

}